 # Pandas - cvičení

## Příprava cvičení

 - pro potřeby cvičení si spusť následující kód:

In [1]:
!pip install faker

Collecting faker
  Downloading faker-37.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /home/dragca/python-knihovny/venv/lib/python3.12/site-packages (from faker) (2025.1)
Downloading faker-37.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 3.3 MB/s eta 0:00:00[31m3.3 MB/s eta 0:00:01
Installing collected packages: faker
Successfully installed faker-37.0.0

In [2]:
import pandas as pd
import random
from faker import Faker

fake = Faker("cs_CZ")  # Generátor náhodných dat v češtině
Faker.seed(42)

# Generování 1000 řádků dat
data = []
for i in range(1, 1001):
    jmeno = fake.name()
    vek = random.randint(22, 60)
    mesto = fake.city()
    plat = random.randint(40000, 80000)
    pozice = random.choice(
        ["Analytik", "Manažer", "Konzultant", "Specialista", "Asistent", "Ředitel", "Technik", "Koordinátor",
         "Projektový manažer"])
    oddeleni = random.choice(
        ["IT", "HR", "Prodej", "Marketing", "Podpora", "Stavba", "Administrativa", "Finanční", "Výroba", "Kvalita"])
    telefon = fake.random_number(digits=9, fix_len=True)
    email = fake.email()
    datum_nastupu = fake.date_between(start_date="-8y", end_date="today").strftime("%Y-%m-%d")
    data.append([i, jmeno, vek, mesto, plat, pozice, oddeleni, telefon, email, datum_nastupu])

# Vytvoření DataFrame
columns = ["Osobní číslo", "Jméno", "Věk", "Město", "Plat", "Pozice", "Oddělení", "Telefon", "Email", "Datum nástupu"]
df = pd.DataFrame(data, columns=columns)

# Uložení do CSV
df.to_csv("pracovnici.csv", index=False, encoding="utf-8")
display('Soubor připraven!')

'Soubor připraven!'

## Import Pandas

 - Pandas už sice bude importován, protože jsme ho využili k vytvoření souboru, ale opakování, matka moudrosti, takže ho naimportuj znovu :)

In [2]:
import pandas as pd

## Načtení souboru

 - pak je potřeba načíst data z CSV souboru, ať s nimi můžeme pracovat

In [3]:
df_workers = pd.read_csv ('pracovnici.csv')

 - mrkni se na několik řádků z dat

In [8]:
df_workers.head()

,Osobní číslo,Jméno,Věk,Město,Plat,Pozice,Oddělení,Telefon,Email,Datum nástupu
0,1,Anastázie Vávrová,43,Hulín,55476,Asistent,HR,339670711,vavradusan@example.net,2023-02-11
1,2,Renáta Beránková,42,Chotěboř,71977,Projektový manažer,Administrativa,334760738,pokornyantonin@example.net,2018-10-12
2,3,Žofie Matějková,48,Milevsko,40761,Technik,IT,732719211,agatavlckova@example.org,2022-10-09
3,4,Ivan Hrubý,59,Chyše,41761,Konzultant,Administrativa,199585092,jozef55@example.net,2019-04-21
4,5,Vojtěch Prokop,22,České Budějovice,65240,Konzultant,Finanční,506448196,ruzickovalydie@example.net,2022-02-19

 - koukni na informace o sloupcích

In [20]:
df_workers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Osobní číslo   1000 non-null   object
 1   Jméno          1000 non-null   object
 2   Věk            1000 non-null   int64
 3   Město          1000 non-null   object
 4   Plat           1000 non-null   int64
 5   Pozice         1000 non-null   object
 6   Oddělení       1000 non-null   object
 7   Telefon        1000 non-null   object
 8   Email          1000 non-null   object
 9   Datum nástupu  1000 non-null   object
dtypes: int64(2), object(8)
memory usage: 78.3+ KB

 - koukni na základní statistické údaje

In [14]:
df_workers['Město'].describe(include='all')

count        1000
unique        425
top       Radnice
freq            7
Name: Město, dtype: object

- a dál už podle lektora :)

In [16]:
df_workers.describe()

       Osobní číslo          Věk          Plat       Telefon
count   1000.000000  1000.000000   1000.000000  1.000000e+03
mean     500.500000    40.777000  59631.313000  5.569704e+08
std      288.819436    11.527018  11609.284914  2.571703e+08
min        1.000000    22.000000  40065.000000  1.010749e+08
25%      250.750000    31.000000  49446.250000  3.348265e+08
50%      500.500000    40.000000  59502.000000  5.573649e+08
75%      750.250000    51.000000  69186.250000  7.859518e+08
max     1000.000000    60.000000  79960.000000  9.993714e+08

In [17]:
df_workers['Osobní číslo'] = df_workers['Osobní číslo'].astype('object')

In [23]:
df_workers.describe()

               Věk          Plat
count  1000.000000   1000.000000
mean     40.777000  59631.313000
std      11.527018  11609.284914
min      22.000000  40065.000000
25%      31.000000  49446.250000
50%      40.000000  59502.000000
75%      51.000000  69186.250000
max      60.000000  79960.000000

In [21]:
df_workers['Telefon'] = df_workers['Telefon'].astype('object')

In [25]:
df_workers.describe(include='all')

,Osobní číslo,Jméno,Věk,Město,Plat,Pozice,Oddělení,Telefon,Email,Datum nástupu
count,1000.0,1000,1000.000000,1000,1000.000000,1000,1000,1000.0,1000,1000
unique,1000.0,978,NaN,425,NaN,9,10,1000.0,994,855
top,1000.0,Naděžda Malá,NaN,Radnice,NaN,Asistent,Stavba,496331524.0,jjandova@example.org,2021-06-17
freq,1.0,2,NaN,7,NaN,132,118,1.0,2,4
mean,NaN,NaN,40.777000,NaN,59631.313000,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,11.527018,NaN,11609.284914,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,22.000000,NaN,40065.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,31.000000,NaN,49446.250000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,40.000000,NaN,59502.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,51.000000,NaN,69186.250000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,60.000000,NaN,79960.000000,NaN,NaN,NaN,NaN,NaN

- vypsat všechny lidi starší 40 let s platem větším než 50 000

In [33]:
df_workers[(df_workers["Věk"] > 40) & (df_workers["Plat"] > 50000)]

,Osobní číslo,Jméno,Věk,Město,Plat,Pozice,Oddělení,Telefon,Email,Datum nástupu
0,1,Anastázie Vávrová,43,Hulín,55476,Asistent,HR,339670711,vavradusan@example.net,2023-02-11
1,2,Renáta Beránková,42,Chotěboř,71977,Projektový manažer,Administrativa,334760738,pokornyantonin@example.net,2018-10-12
5,6,Jarmila Urbanová,41,Brtnice,55089,Asistent,Prodej,810026086,zemanmilan@example.org,2024-01-12
6,7,Nikola Kolářová,48,Radnice,71902,Specialista,HR,995619255,jakubmachacek@example.com,2018-11-12
7,8,Ctirad Strnad,46,Náměšť nad Oslavou,64697,Konzultant,Stavba,882893941,hajekvratislav@example.com,2019-05-07
...,...,...,...,...,...,...,...,...,...,...
991,992,Dorota Valentová,56,Starý Plzenec,69609,Ředitel,Administrativa,905783320,stejskalovadorota@example.com,2020-04-05
992,993,Alexandr Vlček,52,Dolní Bousov,55538,Asistent,Podpora,366656201,kasparovaevelina@example.net,2021-12-26
993,994,Alena Černá,53,Volyně,77002,Ředitel,HR,859624835,horvathovaeva@example.com,2023-04-07
995,996,Bohumil Černý,42,Chyše,64682,Koordinátor,IT,649264485,michal03@example.org,2019-01-01
996,997,Radim Šťastný,45,Hradec nad Moravicí,64246,Koordinátor,Prodej,834887664,libor72@example.org,2018-12-26

In [35]:
df_vyber = df_workers[(df_workers["Věk"] > 40) & (df_workers["Plat"] > 50000)]

In [37]:
# df_vyber['Město'].value_count()

In [43]:
df_workers.groupby('Pozice', observed=True)["Plat"].mean()

Pozice
Analytik              59588.347826
Asistent              57733.643939
Konzultant            59262.443478
Koordinátor           61506.654867
Manažer               58501.792793
Projektový manažer    59551.144330
Specialista           60204.981308
Technik               59971.933962
Ředitel               60800.586538
Name: Plat, dtype: float64

In [42]:
df_workers.groupby(['Pozice', 'Město']).agg({'Plat':{'mean', 'max', 'min'}})

                                  Plat
                                   min     mean    max
Pozice   Město
Analytik Bavorov                 51867  51867.0  51867
         Bechyně                 76615  76615.0  76615
         Brtnice                 79926  79926.0  79926
         Budišov nad Budišovkou  49522  49522.0  49522
         Bělá pod Bezdězem       51984  51984.0  51984
...                                ...      ...    ...
Ředitel  Česká Skalice           74697  74697.0  74697
         Šenov                   54654  54654.0  54654
         Štětí                   78386  78386.0  78386
         Železný Brod            54557  54557.0  54557
         Židlochovice            67747  67747.0  67747

[890 rows x 3 columns]